# Exercise 05: Fixing Errors
Try to understand the examples below and fix all errors that occure with the knowledge you gained in the last few days.

In [3]:
some_random_numbers = [98, 98, 22, 49, 19, 38, 22, 28, 23, 70, 21, 97, 13, 56, 98, 2, 93, 41, 72, 56]
    
result = 0   
for number in some_random_numbers:
    result += number
    
print(f"The sum of the random numbers is {result}")

The sum of the random numbers is 1016

In [5]:
students_and_points = {'Rolf': 24, 'Bob': 18, 'Anne': 42, 'Charlie': 37, 'Jen': 12, 'Jose': 24}
for student, points in students_and_points.items():
    print(student, student)

Rolf Rolf
Bob Bob
Anne Anne
Charlie Charlie
Jen Jen
Jose Jose

In [7]:
def is_palindrome(string):
    string = "".join(string.lower().split())
    return string == string[::-1]

is_palindrome("Anna")

True

In [18]:
employment_info = {
"Jhon": {
    "employee_id": 109231, 
    "employment": "Carpenter", 
    "Yearly Net Income": 49520},
"Anna": {
    "employee_id": 201201, 
    "employment": "Graphic Designer", 
    "Yearly Net Income": 5700},
"Bob": {
    "employee_id": 302211, 
    "employment": "Python Programmer", 
    "Yearly Net Income": 2147483647},
}

with open("employment_info.csv", "w") as employment_info_file:
    employment_info_file.write("Name,Employee-ID,Employment,Yearly-Net-Income\n")
    for name, info in employment_info.items():
        employment_info_file.write(f'{name},{info["employee_id"]},{info["employment"]},{info["Yearly Net Income"]}\n')

In [22]:
# Fix the example before first since you need the datafile from it ;)
with open("employment_info.csv", "r") as employment_info:
    total_net_income = 0
    for line in employment_info.readlines()[1:]: # skip header
        total_net_income += int(line.strip().split(",")[-1]) # You could also cast it to float
    print(f"All employees together have a yearly net income of: {total_net_income}")

All employees together have a yearly net income of: 2147538867