# Exercise 07: Pandas B
Today's exercise continues on working with pandas DataFrames. If you prefer the [video tutorials](https://www.youtube.com/playlist?list=PL-osiE80TeTsWmV9i9c58mdDCSskIFdDS), parts 7 to 11 cover the skills needed (and quite a bit more!). Alternatively, check out the [Getting started tutorials](https://pandas.pydata.org/docs/getting_started/intro_tutorials/index.html) or follow the "Help"-links to relevant Google searches ;)

The required tables are the same as in Exercise 06, so you can just copy the code for reading them from there.

In [ ]:
# your code goes here:
import pandas as pd
vaccinations = pd.read_csv("./data/vaccinations.csv", parse_dates=["date"])
cases_deaths = pd.read_csv("./data/cases_deaths.csv", parse_dates=["date"])
locations = pd.read_csv("./data/locations.csv")

For each location, get the total number of cases (i.e. the sum of the daily new cases).

[Help](https://www.google.com/search?q=pandas+sum+column+by+group)

In [ ]:
# your code goes here:
total_cases = cases_deaths.groupby('location').agg(total_cases=('new_cases', sum))
total_cases = cases_deaths.groupby('location')["new_cases"].sum()
total_cases

                   total_cases
location
Afghanistan           180355.0
Africa              11867790.0
Albania               276101.0
Algeria               265884.0
Andorra                42894.0
...                        ...
Wallis and Futuna        454.0
World              528911736.0
Yemen                  11823.0
Zambia                321779.0
Zimbabwe              252404.0

[229 rows x 1 columns]

Calculate the total number of cases per millions inhabitants for all locations.

[Help1](https://www.google.com/search?q=pandas+merge+dataframe), [Help2](https://www.google.com/search?q=pandas+divide+two+columns)

In [ ]:

# your code goes here:
df = total_cases.merge(locations, left_index=True, right_on='location')
df['cases_per_million'] = df['total_cases'] / df['population'] * 1000000
df

Now sort the resulting dataframe descending by cases per million.

[Help](https://www.google.com/search?q=pandas+sort+descending)

In [ ]:
# your code goes here:
df = df.sort_values('cases_per_million', ascending=False)

Write the dataframe to a csv file, but include only location and cases_per_million.

[Help1](https://www.google.com/search?q=pandas+write+csv), [Help2](https://www.google.com/search?q=pandas+write+csv+ignore+index)

In [ ]:
# your code goes here:
df[['location', 'cases_per_million']].to_csv('cpm.csv', index=False)

Get the number of new vaccinations per continent in November 2021.

In [ ]:
# your code goes here:
vacc_cont = vaccinations.merge(locations, on='location')
vacc_nov = vacc_cont.loc[("2021-11-01" <= vacc_cont["date"]) & (vacc_cont["date"] <= "2021-11-30"), :]
vacc_nov.groupby("continent").agg(all_vaccs=("daily_vaccinations", sum))

                 all_vaccs
continent
Africa          49661203.0
Asia           652129741.0
Europe          91966100.0
North America   67906416.0
Oceania          5061740.0
South America   68982646.0